<app-navbar></app-navbar>
<div class="hero">
    <div class="background-image" style="background-image: url(assets/img/FONDO_MIVIVIENDA.jpg)" role="img"
         aria-label="Specialist doctor in dermatology"></div>

    <div class="phrase">
        <h1>Plan de pagos del programa fondo MiVivienda</h1>
        <p>El programa Fondo MiVivienda de Perú es una iniciativa gubernamental
            que tiene como objetivo ayudar a las personas de bajos y medianos ingresos
            a adquirir una vivienda propia. El programa funciona como una entidad financiera
            que otorga préstamos para la compra de viviendas a través de una red de bancos y financieras en todo el país.</p>
<!--        <button mat-button [routerLink]="'/login'" mat-flat-button color="primary">LOG IN</button>-->
    </div>

</div>





<!--<h1>Bienvenido al plan de pagos del programa fondo miVivienda</h1>-->