<app-navbar></app-navbar>

<!--<div class="background-image" style="background-image: url(assets/img/FONDO_MIVIVIENDA.jpg)" role="img"-->
<!--     aria-label="Specialist doctor in dermatology"></div>-->
<div class="background-image" style="background-image: url(assets/img/desarrollador.jpg)" role="img"
     aria-label="Specialist doctor in dermatology"></div>

<div class="header">
    <h1>¡Gracias por visitar nuestra página!</h1>
</div>

<div class="content">
    <h2>Quiénes Somos</h2>
    <p>Somos un equipo de desarrolladores apasionados por la creación de soluciones tecnológicas innovadoras. Nuestro objetivo es utilizar nuestras habilidades y conocimientos para brindar productos y servicios que mejoren la vida de las personas.</p>
    <p>Estamos comprometidos con la excelencia y nos esforzamos por mantenernos actualizados con las últimas tecnologías y prácticas de desarrollo. Valoramos la colaboración, la creatividad y la atención al detalle en todo lo que hacemos.</p>
    <p>¡Esperamos poder ayudarte con tus necesidades tecnológicas!</p>
</div>

<div class="footer">
    <p>&copy; 2023 Team 4 Inc. Todos los derechos reservados.</p>
</div>