.fullscreen-card {
    height: 90vh; /* Altura del 90% del viewport */
    width: 90vw; /* Ancho del 90% del viewport */
    position: fixed; /* Posicionamiento fijo */
    top: 5vh; /* Margen superior del 5% del viewport */
    left: 5vw; /* Margen izquierdo del 5% del viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01ADE9;
}
.card-content {
    text-align: center;
}
.content-text {
    font-size: 40px; /* Tamaño de fuente deseado */
}
