
<!--<div class="navbar">-->
<!--    <img src="../../../assets/img/LOGO-FINANCE.png" alt="Logo">-->
<!--    <span>Nombre del sitio</span>-->
<!--</div>-->
<app-navbar></app-navbar>
<div class="background-image" style="background-image: url(assets/img/Finance.jpg)" role="img"
     aria-label="Specialist doctor in dermatology"></div>

<div class="content">

    <div class="logo">
        <img src="../../../assets/img/casa.png" alt="Logo">
    </div>

    <div class="divider"></div>

    <div class="text">
        <h1>Plan de pagos del programa fondo MiVivienda</h1>
        <p>El programa Fondo MiVivienda de Perú es una iniciativa gubernamental
            que tiene como objetivo ayudar a las personas de bajos y medianos ingresos
            a adquirir una vivienda propia. El programa funciona como una entidad financiera
            que otorga préstamos para la compra de viviendas a través de una red de bancos y financieras en todo el país.</p>
    </div>
</div>



<!--<app-navbar></app-navbar>-->

<!--<body>-->


<!--<div class="hero">-->
<!--    <div class="content">-->
<!--        <div class="background-image" style="background-image: url(assets/img/building.jpg);" role="img"-->
<!--             aria-label="An astronaut space walk, representing our capacity to help you achieve the highest business goals and standards"></div>-->

<!--        <div class="logo">-->
<!--            <img src="assets/img/LOGO-FINANCE.png" alt="Logo">-->
<!--        </div>-->
<!--        <div class="divider"></div>-->

<!--        <div class="text">-->
<!--            <div class="phrase">-->
<!--                <h1>Plan de pagos del programa fondo MiVivienda</h1>-->
<!--                <p>El programa Fondo MiVivienda de Perú es una iniciativa gubernamental-->
<!--                    que tiene como objetivo ayudar a las personas de bajos y medianos ingresos-->
<!--                    a adquirir una vivienda propia. El programa funciona como una entidad financiera-->
<!--                    que otorga préstamos para la compra de viviendas a través de una red de bancos y financieras en todo el país.</p>-->
<!--                &lt;!&ndash;        <button mat-button [routerLink]="'/login'" mat-flat-button color="primary">LOG IN</button>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->





<!--<h1>Bienvenido al plan de pagos del programa fondo miVivienda</h1>-->