<!--&lt;!&ndash;<div class="content" role="main">&ndash;&gt;-->
<!--    <div class="responsive">-->
<!--        <table-->
<!--                mat-table-->
<!--                [dataSource]="dataSource"-->
<!--                class="mat-elevation-z8 tabla-cuotas"-->
<!--                *ngIf="this.a.length">-->
<!--            <ng-container matColumnDef="id">-->
<!--                <th mat-header-cell *matHeaderCellDef><b>Id</b></th>-->
<!--                <td mat-cell *matCellDef="let element">{{ element.id }}</td>-->
<!--                <td mat-footer-cell *matFooterCellDef>Total</td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="numero-cuota">-->
<!--                <th mat-header-cell *matHeaderCellDef><b>Numero Cuota</b></th>-->
<!--                <td mat-cell *matCellDef="let element">{{ element.numeroCuota }}</td>-->
<!--                <td mat-footer-cell *matFooterCellDef>Total</td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="amortizacion">-->
<!--                <th mat-header-cell *matHeaderCellDef><b>Amortizacion</b></th>-->
<!--                <td mat-cell *matCellDef="let element">-->
<!--                    {{ element.amortizacion | separadorMiles }}-->
<!--                </td>-->
<!--                &lt;!&ndash;            <td mat-footer-cell *matFooterCellDef>&ndash;&gt;-->
<!--                &lt;!&ndash;                {{ totalAmortizacion | separadorMiles }}&ndash;&gt;-->
<!--                &lt;!&ndash;            </td>&ndash;&gt;-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="interes">-->
<!--                <th mat-header-cell *matHeaderCellDef><b>Interés</b></th>-->
<!--                <td mat-cell *matCellDef="let element">-->
<!--                    {{ element.interes | separadorMiles }}-->
<!--                </td>-->
<!--                &lt;!&ndash;            <td mat-footer-cell *matFooterCellDef>&ndash;&gt;-->
<!--                &lt;!&ndash;                {{ totalInteres | separadorMiles }}&ndash;&gt;-->
<!--                &lt;!&ndash;            </td>&ndash;&gt;-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="desgravamen">-->
<!--                <th mat-header-cell *matHeaderCellDef><b>Desgravamen</b></th>-->
<!--                <td mat-cell *matCellDef="let element">-->
<!--                    {{ element.desgravamen }}-->
<!--                </td>-->
<!--                <td mat-footer-cell *matFooterCellDef></td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="saldo">-->
<!--                <th mat-header-cell *matHeaderCellDef><b>Saldo</b></th>-->
<!--                <td mat-cell *matCellDef="let element">-->
<!--                    {{ element.saldo | separadorMiles }}-->
<!--                </td>-->
<!--                <td mat-footer-cell *matFooterCellDef></td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="cuota">-->
<!--                <th mat-header-cell *matHeaderCellDef><b>Cuota</b></th>-->
<!--                <td mat-cell *matCellDef="let element">-->
<!--                    {{ element.cuota | separadorMiles }}-->
<!--                </td>-->
<!--                &lt;!&ndash;            <td mat-footer-cell *matFooterCellDef>&ndash;&gt;-->
<!--                &lt;!&ndash;                {{ totalCuotas | separadorMiles }}&ndash;&gt;-->
<!--                &lt;!&ndash;            </td>&ndash;&gt;-->
<!--            </ng-container>-->

<!--            &lt;!&ndash;            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>&ndash;&gt;-->
<!--            &lt;!&ndash;            <tr mat-row *matRowDef="let row; columns: displayedColumns"&ndash;&gt;-->
<!--            &lt;!&ndash;                [ngClass]="{'editable-row': reportData.id === row.id}"></tr>&ndash;&gt;-->
<!--            &lt;!&ndash;            <tr mat-footer-row *matFooterRowDef="columnasTabla"></tr>&ndash;&gt;-->

<!--            <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>-->
<!--            <tr mat-row *matRowDef="let row; columns: columnasTabla"></tr>-->
<!--            <tr mat-footer-row *matFooterRowDef="columnasTabla"></tr>-->
<!--            <td mat-footer-cell *matFooterCellDef></td>-->

<!--            &lt;!&ndash;    <ng-container matFooterRowDef>&ndash;&gt;-->
<!--            &lt;!&ndash;        <mat-footer-row *matFooterRowDef="columnasTabla"></mat-footer-row>&ndash;&gt;-->
<!--            &lt;!&ndash;    </ng-container>&ndash;&gt;-->


<!--        </table>-->
<!--        <br/>-->
<!--        <br/>-->
<!--        <br/>-->
<!--    </div>-->
<!--        <div class="footer">-->
<!--            <mat-toolbar style="background-color: #87BC28">-->
<!--                <div class="container-center">-->
<!--                    &lt;!&ndash;            <a href="https://github.com/ArielAyala/calculador-cuotas-sistema-frances" target="_blank">&ndash;&gt;-->
<!--                    &lt;!&ndash;                <img src="assets/logo-github.svg" alt="logo github" class="logo-github">&ndash;&gt;-->
<!--                    &lt;!&ndash;            </a>&ndash;&gt;-->
<!--                    &lt;!&ndash;            <button mat-raised-button (click)="navigateTo()">Acceder al Seguro de desgravamen</button>&ndash;&gt;-->


<!--                </div>-->
<!--            </mat-toolbar>-->
<!--        </div>-->


<!--&lt;!&ndash;    </div>&ndash;&gt;-->



<!--<router-outlet></router-outlet>-->



<div>
<!--    <h1> Id: {{ a.id }}</h1>-->
    <h1>Amortización Final = {{ a.amortizacion }}</h1>
    <h1>Interes Final = {{ a.interes }}</h1>
    <h1>Desgravamen Final = {{ a.desgravamen }}</h1>
    <h1>Saldo Final = {{ a.saldo }}</h1>
    <h1>Cuota Final = {{ a.cuota }}</h1>

</div>