/*.body{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*    height: 100%;*/
/*    align-items: center;*/
/*    background-color: aliceblue;*/
/*}*/

/*.login{*/
/*    width: 100%;*/
/*    max-width: 330px;*/
/*    text-align: center;*/
/*}*/

/*.ancho{*/
/*    width: 80%;*/
/*}*/
.button{
    margin-right: 50px;
}
/*.spinner{*/
/*    margin: 0 auto;*/
/*}*/


.signup-form{
    align-items: center;
}


.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    text-align: center;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
}
.img{
    width: 15%;

}
